{% extends "_layouts/manage/template.twig" %}

{% block content %}

<!-- breadcrumb -->
{{ breadcrumb(APP_ADDRESS~'manage/', {'角色管理': APP_ADDRESS~'manage/roles', '編輯角色': '#'}) }}

<div class="container px-6 mx-auto grid">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">編輯角色</h2>
    <form method="post" id="form_role">
        <input type="hidden" name="token" value="{{ TOKEN }}">
        <div class="mb-4">
            {% include "_partials/error_message.twig" %}
        </div>    
        <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
            <label class="block text-sm">
                <span class="text-gray-700 dark:text-gray-400">名稱</span>
                <div class="relative text-gray-500 focus-within:text-purple-600">
                    <input
                        name="name" value="{{ post.name is defined ? post.name : role.name }}" type="text"
                        class="mt-2 w-full focus:ring-indigo-500 focus:border-indigo-500 min-w-0 rounded-md rounded-r-md sm:text-sm border-gray-300"
                        placeholder="Jane Doe" required
                    />
                    <div class="mt-2 absolute inset-y-0 right-0 flex items-center mr-3 pointer-events-none">
                        <i class="bi bi-person"></i>
                    </div>
                </div>
            </label>

            <label class="block mt-4 text-sm">
                <span class="text-gray-700 dark:text-gray-400">權限</span>
                <div class="grid grid-cols-2 gap-6 sm:grid-cols-3 lg:grid-cols-4">
                    {% for permission in permissions %}
                    <label class="mt-4 mr-2 items-center dark:text-gray-400">
                        <input
                            type="checkbox" name="permission[]" value="{{ permission.id }}"
                            {% if post.permission is defined %} 
                                {{ permission.id in post.permission ? 'checked' : '' }} 
                            {% else %}
                                {{ permission.id in roleHasPermissions ? 'checked' : '' }}
                            {% endif %}
                            class="text-purple-600 form-checkbox focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                        />
                        <span class="ml-2">{{ permission.description }}</span>
                    </label>    
                    {% endfor %}
                </div>
            </label>
            <div class="flex justify-end">
                <button
                    class="px-3 py-1 mt-4 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-md active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500"
                >
                    送出
                </button>
            </div>
        </div>     
    </form>
</div>

{% endblock %}
