<!DOCTYPE html>
<html lang="zh-TW">
	<head>
		{# webpack #}
		<script src="{{ APP_SRC }}dist/manage/bundle.js"></script>
        {# meta #}
        {% include "_partials/reception/meta.twig" %}
		<title>{{ pageTitle ? pageTitle : APP_NAME }}</title>
		{# debug bar #}
        {% if IS_DEBUG and in_except_ip_list() %} {{ debug_bar_renderHead() }} {% endif %}
		{# font #}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
		<link rel="icon" href="{{ APP_IMG }}favicon.ico">
	</head>
	<body style="font-family: 'Noto Sans TC', sans-serif;">
		<div>
            {% include "_partials/manage/sidebar.twig" %}
            {% include "_partials/manage/nav.twig" %}
			<main class="flex-1 relative pb-8 z-0 overflow-y-auto">
				<div class="container px-6 mx-auto">
					{{ show_flash_message() }}
                    {% block content %}{% endblock %}
                </div>
                <footer class="bg-white inset-x-0 bottom-0 fixed">
                    <div class="max-w-7xl mx-auto overflow-hidden">
                        <p class="text-center text-base text-gray-800">
                            &copy; 2019-{{ "now"|date('Y') }} Kerwin. All rights reserved.
                        </p>
                    </div>
                </footer>
            </main>
            </div>
        </div>
        {% if IS_DEBUG and in_except_ip_list() %} {{ debug_bar_render() }} {% endif %}
    </body>
</html>