<!DOCTYPE html>
<html lang="zh-TW">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>網站維護中</title>
		<link rel="icon" href="{{ APP_IMG }}favicon.ico">
		<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
	</head>

	<body>
		<div class="bg-white min-h-screen flex flex-col lg:relative">
			<div class="flex-grow flex flex-col">
				<main class="flex-grow flex flex-col bg-white">
					<div class="flex-grow mx-auto max-w-7xl w-full flex flex-col px-4 sm:px-6 lg:px-8">
						<div class="flex-shrink-0 pt-10 sm:pt-16">
							<a href="{{ APP_ADDRESS }}" class="inline-flex">
								<span class="sr-only">Workflow</span>
								<img class="h-12 w-auto" src="{{ APP_IMG }}grapes.png" alt="{{ APP_NAME }}">
							</a>
						</div>
						<div class="flex-shrink-0 my-auto py-16 sm:py-32">
							<p class="text-sm font-semibold text-indigo-600 uppercase tracking-wide"></p>
							<h1 class="mt-2 text-4xl font-extrabold text-gray-900 tracking-tight sm:text-5xl">網站維護中</h1>
							<p class="mt-2 text-base text-gray-500">請耐心等候，造成不便請見諒</p>
							<div class="mt-6">
								<a href="{{ APP_ADDRESS }}" class="text-base font-medium text-indigo-600 hover:text-indigo-500">返回首頁<span aria-hidden="true">
										&rarr;</span>
								</a>
							</div>
						</div>
					</div>
				</main>
				<footer class="flex-shrink-0 bg-white">
					<div class="mx-auto max-w-7xl w-full px-4 py-16 sm:px-6 lg:px-8">
						<nav class="flex space-x-4">
							<a href="javascript:void(0)" class="text-sm font-medium text-gray-500 hover:text-gray-600">Contact Support</a>
							<span class="inline-block border-l border-gray-300" aria-hidden="true"></span>
							<a href="javascript:void(0)" class="text-sm font-medium text-gray-500 hover:text-gray-600">Status</a>
							<span class="inline-block border-l border-gray-300" aria-hidden="true"></span>
							<a href="javascript:void(0)" class="text-sm font-medium text-gray-500 hover:text-gray-600">Twitter</a>
						</nav>
					</div>
				</footer>
			</div>
			<div class="hidden lg:block lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
				<img class="absolute inset-0 h-full w-full object-cover" src="{{ APP_IMG }}fix.jpg" alt="{{ APP_NAME }}">
			</div>
		</div>
	</body>
</html>
